# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.rocnikovka02.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\chram\Documents\Unity Projects\rocnikovka02\.idea\.idea.rocnikovka02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
