# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.rocnikovka02 - kopie.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\chram\Documents\Unity Projects\rocnikovka02 - kopie\.idea\.idea.rocnikovka02 - kopie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
